<div class="container">
    <div class="jumbotron">
        <h1>Eat The Burger</h1>
        <br>
        <h2>Please Enter a Burger</h2>
        <div class="card">
            <div class="card-body">
                <form class="create-form">
                    <div class="form-group">
                        <label for="newburger">Order New Burger</label>
                        <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                        <button type="submit" class="btn btn-primary" id="text-enter-button">Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-heading">
                        <strong>Eat Your Burger</strong>
                    </div>
                    <ul id="burgersToEat">
                        {{#each burgers}}
                        {{#unless devoured}}
                            <li class="list-group-item burger" data-id="{{this.id}}">
                            <p class="burger-name">{{burger_name}} <button class="btn float-right eatBurger">Devour</button></p>
                            </li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-heading">
                        <strong>Eaten Burgers</strong>
                    </div>
                    <ul class="col-lg-6 " id="devoured">
                        {{#each burgers}}
                        {{#if devoured}}
                            <li class="list-group-item" data-id="{{this.id}}">
                            <p class="name">{{burger_name}}</p>
                            </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
